html,
body {
    height: 100%;
}

i {
    cursor: pointer;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

/**
 * Header
 */

header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 20px 0;
    background: #fff;
    background: #315064;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

header .container-fluid {
    padding-left: 0;
}

header .title {
    font-size: 20px;
}

header .navbar-inverse a {
    color: #c0deed !important;
}

header #app-bar p, #app-bar span.page-title {
    color: #A0C5DE !important;
}

header input {
    margin-top: 4px !important;
}

header i {
    color: #fff;
}

header #center-messages {
    position: absolute;
    left: 44%;
    top: 10px;
    text-align: center;
    z-index: 10000;
}

header #loading {
    margin-left: 105px;
}

header #error {
    margin-top: -5px;
}

header #error i {
    cursor: pointer;
}

header #error p {
    padding: 5px;
}

/**
 * Tumblr sites & navigation bar.
 */

#tumblr-content {
    background: #fff;
    position: fixed;
    width: 100%;
    top: 45px;
    left: 0;
    margin-top: -5px;
    padding: 5px 0 0 0;
    z-index: 1;
}

#tumblr-sites-bar {
    height: 35px;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ccc;
}

#tumblr-sites-list {
    position: absolute;
    left: 5px;
    text-align: left;
    top: 0;
    color: #000;
}

#tumblr-sites-list span a {
    color: #000;
}

#tumblr-sites-navigation {
    position: relative;
    left: 47.5%;
    top: 3px;
}

/** Rotate to simulate a keyboard icon. */
.icon-keyboard:before {
    content: "\f0f7";
}

.icon-keyboard-top-right {
    position: absolute;
    top: 5px;
    right: 0;
    margin-right: 10px;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

#tumblr-page-content {
    position: relative;
    top: 40px;
    padding: 0 1em;
}

/**
 * Stack
 */
#stack-box p {
    margin: 0 0 0 8px;
}

ul#stack li {
    float: left;
    margin-right: 2px
}

ul#stack li a {
    display: block;
    height: 16px;
    width: 16px;
    text-indent: -9999px;
}

.scala, .mongodb, .play, .angular, .github {
    background: url(../img/stack.png) no-repeat;
}

.scala {
    background-position: -52px -3px;
    width: 16px;
    height: 16px;
}

.mongodb {
    background-position: -151.00000762939453px -4px;
    width: 16px;
    height: 16px;
}

.play {
    background-position: -1px -3px;
    width: 16px;
    height: 16px;
}

.angular {
    background-position: -101.00000762939453px -3px;
    width: 16px;
    height: 16px;
}

.github {
    background-position: -203.00000762939453px -3px;
    width: 16px;
    height: 16px;
}

/**
 * Navigation
 */

section#navigation {
    position: fixed;
    top: 41px;
    width: 100%;
    padding: 10px 0 7px 0;
    background: #fff;
    border-bottom: 1px solid #CCCCCC;
}

/**
 * Content
 */

.container {
    width: auto !important;
}

hr {
    margin: 0 0 .5em 0;
}

.nav {
    margin-bottom: 1em;
}

.lead {
    margin-bottom: 0;
}

section#content {
    position: relative;
    top: 45px;
}

section#content img {
    padding: 1px;
}

section#content .page-images {
    text-align: center;
}

/** Images with text below*/
section#content li.image-text {
    float: none !important;
    padding-bottom: 15px;
    margin-bottom: 5px;
    display: block;
    clear: both;
    border-bottom: 1px solid #DDD;
}

section#content li.image {
    min-height: 50px;
    min-width: 50px;
}

section#content .more-images {
    text-align: center;
}

.nav-pills li, .thumbnail {
    padding: 1px;
}

.marginbox-center {
    margin: 0    auto;
    text-align: center;
}

/** Twitter **/

.twitter-color {
    color: #c0deed;
}

#tweets-searchbox {
    width: 300px;
}

#tweets-searchbox label {
    margin: 25px;
    font-size: 28px;
}

#tweets-searchbox input {
    font-size: 18px;
    width: 300px;
}

#tweets-searchbox .css-form input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

#tweets-searchbox .help-block {
    font-size: 12px;
}

#tweets-carousel {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 48px;
    background: #c0deed;
    margin: 0;
}

#tweets-carousel .close {
    position: absolute;
    right: 0;
    z-index: 10;
}

#tweets-carousel img {
    width: 48px;
    height: 48px;
}

#tweets-carousel  ul {
    margin: 0;
}

#tweets-carousel .carousel {
    overflow: auto;
    width: 1000%;
}

#tweets-carousel .panes {
    list-style: none;
    position: relative;
    width: 1000%; /* Number of panes * 100% */
    overflow: hidden; /* This is used solely to clear floats, it does not add functionality. */
    -webkit-animation: hscroll 80s infinite;
    -moz-animation: hscroll 80s infinite;
    -ms-animation: hscroll 80s infinite;
}

#tweets-carousel .panes > li {
    position: relative;
    float: left;
    width: 5%;
    height: 100px;
}

#tweets-carousel .carousel h2 {
    font-size: 1em;
    padding: 0.5em;
    bottom: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.75);
}

@-webkit-keyframes hscroll {
    0% {
        left: 0;
    }
    5% {
        left: 0;
    }
    10% {
        left: -100%;
    }
    15% {
        left: -100%;
    }
    20% {
        left: -200%;
    }
    25% {
        left: -200%;
    }
    30% {
        left: -300%;
    }
    35% {
        left: -300%;
    }
    40% {
        left: -400%;
    }
    45% {
        left: -400%;
    }
    50% {
        left: -500%;
    }
    55% {
        left: -500%;
    }
    60% {
        left: -600%;
    }
    65% {
        left: -600%;
    }
    70% {
        left: -700%;
    }
    75% {
        left: -700%;
    }
    80% {
        left: -800%;
    }
    85% {
        left: -800%;
    }
    90% {
        left: -900%;
    }
    95% {
        left: -900%;
    }
    100% {
        left: 0;
    }
}

@keyframes hscroll {
    0% {
        left: 0;
    }
    5% {
        left: 0;
    }
    10% {
        left: -100%;
    }
    15% {
        left: -100%;
    }
    20% {
        left: -200%;
    }
    25% {
        left: -200%;
    }
    30% {
        left: -300%;
    }
    35% {
        left: -300%;
    }
    40% {
        left: -400%;
    }
    45% {
        left: -400%;
    }
    50% {
        left: -500%;
    }
    55% {
        left: -500%;
    }
    60% {
        left: -600%;
    }
    65% {
        left: -600%;
    }
    70% {
        left: -700%;
    }
    75% {
        left: -700%;
    }
    80% {
        left: -800%;
    }
    85% {
        left: -800%;
    }
    90% {
        left: -900%;
    }
    95% {
        left: -900%;
    }
    100% {
        left: 0;
    }
}