html,
body {
    height: 100%;
}

a {
    color: #FFF !important;
}

i {
    cursor: pointer;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 20px 0;
    background: #fff;
    background: #315064;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
}

header .container-fluid {
    padding-left: 0;
}

header .navbar .brand {
    padding: 10px 5px;
    margin-left: 0;
}

header span.page-title {
    padding: 5px;
}

#loading .alert-information {
    background: gold;
}

#loading .alert {
    color: #9E8043;
}

#message-box {
    position: fixed;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
}
#message-box div {
    padding: .5em;
}

.message-information {
    padding: 0.3em;
    font-weight: bold;
    display: none;
}

header p {
    color: #A0C5DE !important;
}

header select, input {
    margin-top: 5px;
    width: auto;
}

header input {
    margin-top: 4px !important;
}

header i {
    color: #fff;
}

section#content {
    width: auto;
    margin-top: 48px;
    padding: 0 1em;
}

.container {
    width: auto !important;
}

hr {
    margin: 0 0 .5em 0;
}

.nav {
    margin-bottom: 1em;
}

.lead {
    margin-bottom: 0;
}

section#content img {
    padding: 1px;
}

li.image {
    min-height: 50px;
    min-width: 50px;
}

section#content .more-images {
    text-align: center;
}

#message-box {
    text-align: center;
}

.nav-pills li, .thumbnail {
    padding: 1px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: white;
    border-top: 1px solid #CCCCCC;
}


footer p {
    text-align: center;
    margin: 0;
}