/* Sticky footer styles
            -------------------------------------------------- */

html,
body {
    height: 100%;
}

a {
    color: #A0C5DE;
}
a:hover {
    color: #97A0C4;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 20px 0;
    background: #fff;
    background: #315064;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
}

#loading {
    position: absolute;
    left: 50%;
    top: 5px;
    display: none;
    background: gold;
    padding: 0.3em;
    font-weight: bold;
}

header p {
    color: #A0C5DE !important;
}

header select {
    margin-top: 5px;
    width: auto;
}

section#content {
    margin-top: 48px;
}

section#content img {
    padding: 1px;
}


section#content .next-page {
    text-align: center;
}

.container {
    width: 80% !important;
}

.nav-pills li, .thumbnail {
    padding: 1px;
}