html,
body {
    height: 100%;
}

a {
    color: #FFF !important;
}

i {
    cursor: pointer;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

/**
 * Header
 */

header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 20px 0;
    background: #fff;
    background: #315064;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
}

header .container-fluid {
    padding-left: 0;
}

header .navbar .brand {
    padding: 10px 5px;
    margin-left: 0;
}

header #app-bar p, #app-bar span.page-title {
    color: #A0C5DE !important;
}

header select, input {
    margin-top: 5px;
    width: auto;
}

header input {
    margin-top: 4px !important;
}

header i {
    color: #fff;
}

header #center-messages {
    position: absolute;
    left: 44%;
    top: 10px;
    text-align: center;
    z-index: 10000;
}

header #loading .alert-information {
    background: gold;
}

header #loading .alert {
    color: #9E8043;
}

header #loading {
    margin-left: 105px;
}

header #error {
    margin-top: -5px;
}

header #error i {
    cursor: pointer;
}

header #error p {
    padding: 5px;
}

/**
 * Stack
 */
#stack-box p {
    margin: 0 0 0 8px;
}

ul#stack li {
    float: left;
    margin-right: 2px
}
ul#stack li a {
    display: block; height: 16px;
    width: 16px;
    text-indent:-9999px;
}
.scala, .mongodb, .play, .angular, .github{
    background: url(../img/stack.png) no-repeat;
}

.scala{
    background-position: -52px -3px ;
    width: 16px;
    height: 16px;
}

.mongodb{
    background-position: -151.00000762939453px -4px ;
    width: 16px;
    height: 16px;
}

.play{
    background-position: -1px -3px ;
    width: 16px;
    height: 16px;
}

.angular{
    background-position: -101.00000762939453px -3px ;
    width: 16px;
    height: 16px;
}

.github{
    background-position: -203.00000762939453px -3px ;
    width: 16px;
    height: 16px;
}

/**
 * Navigation
 */

section#navigation {
    position: fixed;
    top: 41px;
    width: 100%;
    padding: 10px 0 7px 0;
    background: #fff;
    border-bottom: 1px solid #CCCCCC;
}

section#navigation p {
    text-align: center;
    margin: 0;
}

/**
 * Content
 */

section#content {
    width: auto;
    margin-top: 85px;
    padding: 0 1em;
}

.container {
    width: auto !important;
}

hr {
    margin: 0 0 .5em 0;
}

.nav {
    margin-bottom: 1em;
}

.lead {
    margin-bottom: 0;
}

section#content img {
    padding: 1px;
}

li.image {
    min-height: 50px;
    min-width: 50px;
}

section#content .more-images {
    text-align: center;
}

.nav-pills li, .thumbnail {
    padding: 1px;
}