<div id="admin-sites" class="row-fluid">
    <div class="span7">
        <fieldset>
            <legend>{{sites.length}} Sites</legend>

            <div class="form-actions">
                <a ng-href="#/sites/new" class="btn pull-right">
                    <i class="icon-plus"></i> Create a new site
                </a>
                <div id="admin-sites-filter">
                    <span>Filter:  </span>
                    <input ng-model="search.$"  />
                </div>
            </div>

            <table  class="table table-striped">
                <thead>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Slug</th>
                    <th>Url</th>
                    <th>Enabled</th>
                    <td></td>
                </thead>

                <tbody>
                    <tr ng-repeat="site in sites | filter:search"
                        ng-class="{'success': site.enabled, 'error': !site.enabled }"
                    >
                        <td>{{site.siteType.name}}</td>
                        <td class="span3"><b>{{site.name}}</b></td>
                        <td>{{site.slug}}</td>
                        <td class="span6">{{site.url}}</td>
                        <td>
                            <span class="text-success"><i class="icon-ok-circle icon-large" ng-show="site.enabled"></i></span>
                            <span class="text-error"><i class="icon-ban-circle icon-large" ng-show="!site.enabled"></i></span>
                        </td>
                        <td>
                            <div class="btn-group">
                                <a ng-href="#/sites/edit/{{site.id}}" class="btn"><i class="icon-pencil"></i></a>
                                <button ng-click="delete(site)" class="btn"><i class="icon-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </fieldset>
    </div>
</div><!--/row-->
