<div class="row-fluid">
    <div class="span4">

        <fieldset>
            <legend>Site types</legend>
            <table class="table  table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input ng-model="createForm.name" required/></td>
                    <td class="span4">
                        <button ng-click="create()" class="btn">Add</button>
                    </td>
                </tr>
                </tbody>

            </table>

            <table class="table table-striped">
                <tbody>
                <tr ng-repeat="siteType in siteTypes">
                    <td><input ng-model="siteType.name"/></td>
                    <td class="span4">
                        <button ng-click="update(siteType)" class="btn">Update</button>
                        <button ng-click="remove(siteType)" class="btn">Delete</button>
                    </td>
                </tr>
                </tbody>

            </table>
        </fieldset>
    </div>
</div><!--/row-->

