<div id="admin-site-types" class="row-fluid">
    <div class="span6">
        <fieldset>
            <legend>{{siteTypes.length}} Site types</legend>

            <form name="newSiteTypeForm">
                <table class="admin-site-types-table table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Slug</th>
                        <th>Ordinal</th>
                        <th>Enabled</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    <!-- Nsew item -->
                    <tr class="new-site-type">
                        <td>
                            <input name="name" ng-model="newSiteType.name"
                                   ng-unique-slug="{{ { 'id': newSiteType.id, 'objectsVarName': 'siteTypes', 'type': 'site-types' } }}"
                                   required />
                            <span class="text-error" ng-show="newSiteTypeForm.name.$error.required">Required</span>
                        </td>
                        <td>
                            <slug from="newSiteType.name" to="newSiteType.slug" >
                                <input name="slug" ng-model="newSiteType.slug" ng-disabled="true" required />
                            </slug>
                            <span class="text-error" ng-show="newSiteTypeForm.slug.$error.required">Required</span>
                            <span class="text-error" ng-show="newSiteTypeForm.name.$error.unique">Slug '{{newSiteType.slug}}' already exists</span>
                        </td>
                        <td>
                            <input name="ordinal" ng-model="newSiteType.ordinal" type="number" required />
                            <span class="text-error" ng-show="newSiteTypeForm.ordinal.$error.required">Required</span>
                        </td>
                        <td>
                            <select-yes-no value="newSiteType.enabled" />
                        </td>
                        <td class="span4">
                            <button ng-click="create()" ng-disabled="!newSiteTypeForm.$valid" class="btn"><i class="icon-plus"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>

            <div ng-repeat="siteType in siteTypes">

            <ng-form name="editSiteTypeForm">
                <table class="admin-edit-site-types table">
                    <tbody>
                        <!-- Editable items -->
                        <tr>
                            <td>
                                <input name="name" ng-model="siteType.name"
                                       ng-unique-slug="{{ { 'id': siteType.id, 'objectsVarName': 'siteTypes', 'type': 'site-types' } }}"
                                       required />
                                <span class="text-error" ng-show="editSiteTypeForm.name.$error.required">Required</span>
                            </td>
                            <td>
                                <slug from="siteType.name" to="siteType.slug">
                                    <input name="slug" ng-model="siteType.slug" ng-disabled="true" required />
                                    <span class="text-error" ng-show="editSiteTypeForm.slug.$error.required">Required</span>
                                    <span class="text-error" ng-show="editSiteTypeForm.name.$error.unique">Slug '{{siteType.slug}}' already exists</span>
                                </slug>
                            </td>
                            <td>
                                <input name="ordinal" ng-model="siteType.ordinal" type="number" required/>
                                <span class="text-error" ng-show="editSiteTypeForm.ordinal.$error.required">Required</span>
                            </td>
                            <td>
                                <select-yes-no value="siteType.enabled"/>
                            </td>
                            <td class="span4">
                                <div class="btn-group">
                                    <button ng-click="update(siteType)" ng-disabled="!editSiteTypeForm.$valid" class="btn">
                                        <i class="icon-save"></i></button>
                                    <button ng-click="remove(siteType)" class="btn"><i class="icon-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-form>
            </div>

        </fieldset>
    </div>
</div><!--/row-->

