<div class="row-fluid">
    <div class="span6">
        <fieldset>
            <legend>Sites</legend>

            <table class="table table-striped">
                <thead>
                <th>Type</th>
                <th>Name</th>
                <th>Url</th>
                <td>Actions</td>
                </thead>
                <tbody ng-repeat="site in sites">
                <tr>
                    <td>{{site.siteType}}</td>
                    <td class="span3">{{site.name}}</td>
                    <td class="span6">{{site.url}}</td>
                    <td class="span3">
                        <a ng-href="#/sites/edit/{{site.id}}" class="btn">Edit</a>
                        <button ng-click="delete(site)" class="btn">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="pull-right">
                <a ng-href="#/sites/new" class="btn">Create a new site</a>
            </div>
        </fieldset>
    </div>
</div><!--/row-->
