body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-image:  url("../../img/striped-bg.png")
}

.admin-site-types-table.table-striped tr.new-site-type>td {
    background-color: #d4d4d4;
}

.form-actions {
    margin-top: 0;
}

#admin-sites-filter > * {
    float: left;
}

#admin-sites-filter span {
    margin-right: 5px;
}

#admin-site-form .form-actions > * {
    float: left;
    margin-right: 5px;
}