<div class="container">
    <div class="page-header muted">
        <ul class="nav nav-pills pull-right">
            <li ng-repeat="topic in topics"><a ng-click="consoleTest();">{{topic.name}}</a></li>
        </ul>
        <h1>hfr.asTumblr()</h1>
    </div>

    <a ng-click="changePage(-1)">Previous</a>
    <a ng-click="changePage(+1)">Next</a>
</div>

<div class="container">
    <p class="lead">
    <ul class="nav nav-pills pull-right">
        <li ng-repeat="image in gifs.images">
            <img ng-src="{{image}}"/>
        </li>
    </ul>
    </p>
</div>