<!-- Modal keyboard shortcuts -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Navigation shortcuts</h3>
</div>
<div class="modal-body">
    <h4>Navigation</h4>

    <p><span class="label label-inverse">z</span> Previous site</p>
    <p><span class="label label-inverse">s</span> Next site</p>

    <p>
        <span class="label label-inverse">q</span>,
        <span class="label label-inverse"><i class="icon-arrow-left"></i></span>
        Previous page
    </p>
    <p>
        <span class="label label-inverse">d</span>, <span class="label label-inverse"><i
            class="icon-arrow-right"></i></span>
        Next page
    </p>

    <p><span class="label label-inverse">r</span> Refresh</p>
</div>