<!DOCTYPE html>
<html ng-app="hfrGifs" xmlns="http://www.w3.org/1999/html">
<head>
    <title>@Messages("project.title")</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/font-awesome.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/main.css")" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="@routes.Assets.at("js/app.js")"></script>
    <script src="@routes.Assets.at("js/controllers.js")"></script>
</head>
<body ng-controller="hfrGifsController" on-keyup-fn="handleKeypress">
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <p class="brand">@Messages("project.title")</p>

                <div class="nav-collapse collapse">
                    <!-- Topics list -->
                    <select
                    ng-model="topicId"
                    ng-options="topic.id as topic.name for topic in topics"
                    ng-change="loadImages();">
                    </select>
                    <p class="navbar-text pull-right">
                        <a href="@Messages("project.github.url")" target="_blank">@Messages("project.about")</a>
                    </p>
                </div>

            </div>
        </div>
    </header>

    <section id="content">
        <div id="message-box">
            <!-- Error -->
            <div id="error" class="message-information">
                <span class="alert alert-error">
                    @Messages("page.error")
                <i class="add-on icon-large icon-refresh" ng-click="loadImages();"></i>
                </span>
            </div>

        <!-- Loading -->
            <div id="loading" class="message-information">
            <span class="alert alert-information">
                    @Messages("page.loading")
                <i class="icon-spinner icon-spin"></i>
                </span>
            </div>
        </div>

        <!-- Topic content -->
        <div id="topic-content" class="container">
            <h3 class="lead">{{page.title}}</h3>
            <hr>

            <!-- Icons -->
            <ul class="nav nav-pills">
                <li ng-repeat="icon in page.icons">
                <img class="img-polaroid" ng-src="{{icon}}"/>
                </li>
            </ul>
            <hr>

            <!-- Images -->
            <ul class="nav nav-pills">
                <li class="image" ng-model="image" ng-repeat="image in page.images">
                    <img hoverable="true" ng-model="image" class="img-polaroid" ng-src="{{image}}"/>
                </li>
            </ul>
            <hr>
        </div>
    </section>

    <footer ng-show="page">
    <!-- Previous/Next pages-->
    <p class="more-images">
        <i class="btn icon-arrow-left icon-large" ng-click="loadPreviousPage();"></i>
        <i class="btn icon-arrow-right icon-large" ng-click="loadNextPage();"></i>
    </p>
    </footer>
</body>
</html>