<!DOCTYPE html>
<html ng-app="hfrGifs" xmlns="http://www.w3.org/1999/html">
<head>
    <title>@Messages("project.title")</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link href="@routes.Assets.at("css/bootstrap.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/main.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/bootstrap-responsive.css")" rel="stylesheet">

    <script src="@routes.Assets.at("js/lib/jquery-1.7.1.min.js")"></script>
    <script src="@routes.Assets.at("js/lib/angular-1.0.4.min.js")"></script>
    <script src="@routes.Assets.at("js/app.js")"></script>
    <script src="@routes.Assets.at("js/controllers.js")"></script>
</head>
<body ng-controller="hfrGifsController">
    <header>
        <div id="loading">@Messages("page.loading")</div>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <p class="brand">@Messages("project.title")</p>
                <div class="nav-collapse collapse">
                    <select
                    ng-model="topicId"
                    ng-options="topic.id as topic.name for topic in topics"
                    ng-change="loadGifs();">
                    </select>
                    <p class="navbar-text pull-right"><a href="@Messages("project.github.url")" target="_blank">@Messages("project.about")</a></p>
                </div>
            </div>
        </div>
    </header>

    <section id="content">
        <div class="container" when-scrolled="loadNextGifs()">
            <ul class="nav nav-pills">
                <li ng-repeat="image in gifs.images">
                <img class="img-polaroid" ng-src="{{image}}"/>
                </li>
            </ul>

            <p class="next-page"><button type="button" class="btn" ng-click="loadNextGifs();">@Messages("page.next")</button></p>
        </div>
    </section>
</body>
</html>