<!DOCTYPE html>
<html ng-app="siteGifs" xmlns="http://www.w3.org/1999/html">
<head>
    <title>@Messages("project.title")</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/font-awesome.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/main.css")" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="@routes.Assets.at("js/lib/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("js/app.js")"></script>
    <script src="@routes.Assets.at("js/controllers.js")"></script>
</head>
<body ng-controller="siteGifsController" on-keyup-fn="handleKeypress">
    <header>
        <div id="app-bar" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <p class="brand">@Messages("project.title")</p>

                <div class="nav-collapse collapse">
                <!-- Topics list -->
                <select
                    id="topics-select"
                    ng-model="siteId"
                    ng-options="site.id as site.name group by site.type for site in sites"
                    ng-change="loadImages();">
                </select>
                <!-- Current page / Total pages -->
                <span ng-show="page" class="page-title">
                    <a href="{{page.link.url}}" title="{{page.link.title}}" target="_blank">{{page.link.label}}</a>
                    <span id="last-page-infos" ng-show="lastPageInfos">
                       / <a href="{{lastPageInfos.url}}" title="{{lastPageInfos.title}}" target="_blank">{{lastPageInfos.label}}</a>
                    </span>
                </span>
                <!-- Stack -->
                <div id="stack-box" class="pull-right">
                    <p>Powered by</p>
                    <ul id="stack" class="unstyled">
                        <li>
                            <a href="http://playframework.com" title="Play Framework" class="play" target="_blank">Play Framework</a>
                        </li>
                        <li>
                            <a href="http://scala-lang.org" title="Scala" class="scala" target="_blank">Scala</a>
                        </li>
                        <li >
                            <a href="http://angularjs.org" title="AngularJS" class="angular" target="_blank">Angular</a>
                        </li>
                        <li class="mongodb">
                            <a href="http://mongodb.org" title="MongoDB" class="mongodb" target="_blank">Mongodb</a>
                        </li>
                        <li class="github">
                            <a href="http://github.com/ojacquemart" title="Github" class="github" target="_blank">Mongodb</a>
                        </li>
                    </ul>
                </div>
                </div>

            </div>
        </div>

        <!-- Loading -->
        <div id="center-messages">
            <div id="loading" class="message-information hide">
                <p>
                    <i class="icon-large icon-spinner icon-spin"></i>
                </p>
            </div>
            <div id="error" class="message-information hide">
                <p class="alert alert-error">
                    @Messages("page.error")
                    <i class="add-on icon-large icon-refresh alert-error" ng-click="refreshPage();"></i>
                </p>
            </div>
        </div>
    </header>

    <section id="navigation" ng-show="page">
        <p class="more-images">
            <i class="btn icon-arrow-left icon-large" ng-click="loadPreviousPage();"></i>
            <i class="btn icon-arrow-right icon-large" ng-click="loadNextPage();"></i>
            <i class="btn icon-refresh icon-large" ng-click="refreshPage();"></i>
            <i class="icon-keyboard icon-large icon-keyboard-top-right" ng-click="showModalShortcuts();"></i>
        </p>
    </section>

    <!-- Modal keyboard shortcuts -->
    <div id="modal-shortcuts" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>@Messages("navigation.shortcuts")</h3>
        </div>
        <div class="modal-body">
            <h4>Navigation</h4>
            <p><span class="label label-inverse">z</span> @Messages("navigation.previousSite")</p>
            <p><span class="label label-inverse">s</span> @Messages("navigation.nextSite")</p>
            <p><span class="label label-inverse">q</span>, <span class="label label-inverse"><i class="icon-arrow-left"></i></span> @Messages("navigation.previousPage")e</p>
            <p><span class="label label-inverse">d</span>, <span class="label label-inverse"><i class="icon-arrow-right"></i></span> @Messages("navigation.nextPage")</p>
            <p><span class="label label-inverse">r</span> @Messages("navigation.refresh")</p>
        </div>
    </div>

    <section id="content">
        <!-- Site content -->
        <div id="topic-content" class="container">
            <!-- Icons -->
            <div class="page-icons" ng-show="page.images_1" >
                <ul class="nav nav-pills">
                    <li ng-repeat="icon in page.images_1">
                    <img class="img-polaroid" ng-src="{{icon.src}}"/>
                    </li>
                </ul>
                <hr>
            </div>

            <!-- Images -->

            <div  class="page-images" ng-show="page.images_2 ">
                <ul class="nav nav-pills">
                    <li class="image-text" ng-model="image" ng-show="image.text != ''" ng-repeat="image in page.images_2">
                        <p>{{image.text}}</p>
                        <img hoverable="true" ng-model="image" class="img-polaroid" ng-src="{{image.src}}"/>
                    </li>
                    <li class="image" ng-model="image" ng-show="image.text == ''" ng-repeat="image in page.images_2">
                        <img hoverable="true" ng-model="image" class="img-polaroid" ng-src="{{image.src}}"/>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
    </section>
</body>
</html>