<div id="error" class="message-information hide">
    <p class="alert alert-error">
        An error occured...
        <i class="add-on icon-large icon-refresh alert-error" ng-click="refreshPage();"></i>
    </p>
</div>

<div id="tumblr-content">
    <div id="tumblr-sites-bar" class="nav-collapse collapse">
        <div id="tumblr-sites-list">
            <!-- Sites list -->
            <div class="btn-group">
                <div class="btn-group">
                    <button open-parent
                            type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        {{currentSite.name}}
                        <span class="caret"></span>
                    </button>
                    <ul id="tumblr-sites-list-types" class="dropdown-menu">
                        <li class="dropdown-header" ng-repeat="siteType in sitesBySiteType">
                            {{siteType.name}}
                            <ul id="tumblr-sites-list-sites">
                                <li ng-repeat="site in siteType.sites">
                                    <a href="#sites/{{site.id}}">{{site.name}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>

            <!-- Current page / Total pages -->
            <span ng-show="page" class="page-title">
                <a href="{{page.link.url}}" title="{{page.link.title}}" target="_blank">{{page.link.label}}</a> {{pageTotal.length}}
                <span id="last-page-infos" ng-show="hasNotEmptyTotalPage()" ng-cloak>
                    / <a href="{{pageTotal.url}}" title="{{pageTotal.title}}" target="_blank">{{pageTotal.label}}</a>
                </span>
            </span>
        </div>

        <!-- Previous / next | refresh -->
        <div id="tumblr-sites-navigation" ng-show="page">
            <i class="btn icon-arrow-left icon-large" ng-click="getPreviousPage();"></i>
            <i class="btn icon-arrow-right icon-large" ng-click="getNextPage();"></i>
            <i class="btn icon-refresh icon-large" ng-click="refreshPage();"></i>
        </div>

        <section id="modal">
            <!-- Shortcuts -->
            <i class="icon-keyboard icon-large icon-keyboard-top-right" bs-modal="'assets/partials/tumblr/tumblrShortcuts.html'"></i>
        </section>
    </div>
</div>

<div id="tumblr-sites-modal-shortcuts" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    </div>

<!-- Site page content -->
<div id="tumblr-page-content" class="container">
    <!-- Icons -->
    <div class="page-icons" ng-show="page.images_1">
        <ul class="nav nav-pills">
            <li ng-repeat="icon in page.images_1">
                <img class="img-polaroid" ng-src="{{icon.src}}"/>
            </li>
        </ul>
        <hr>
    </div>

    <!-- Images -->
    <div class="page-images" ng-show="page.images_2 ">
        <ul class="nav nav-pills">
            <li class="image-text" ng-model="image" ng-show="image.text != ''" ng-repeat="image in page.images_2">
                <p>{{image.text}}</p>
                <img hoverable="true" ng-model="image" class="img-polaroid" ng-src="{{image.src}}"/>
            </li>
            <li class="image" ng-model="image" ng-show="image.text == ''" ng-repeat="image in page.images_2">
                <img hoverable="true" ng-model="image" class="img-polaroid" ng-src="{{image.src}}"/>
            </li>
        </ul>
        <hr>
    </div>
</div>

