<div id="tweets-searchbox" class="marginbox-center">
    <form name="TweetsForm" class="simple-form css-form" novalidate>
        <h3>Twitter streaming</h3>
        <div class="input-append">
            <span>
                <input type="text" name="query" id="tweets-search-query" ng-model="query" required ng-minlength="3" ng-maxlength="80">
            </span>
            <button type="submit" class="btn" ng-disabled="!TweetsForm.$valid" ng-click="loadTweets()">Search</button>
            <span ng-show="TweetsForm.query.$error.minlength || TweetsForm.query.$error.maxlength" class="help-block">Search length must be between 3 and 80 characters.</span>
        </div>
    </form>
</div>

<div id="tweets-list" ng-show="tweets">
    <div id="tweets-list-content">
        <p id="tweets-list-show-recents" ng-show="nbNewTweets">
            <a ng-click="loadTweets()">
                <ng-pluralize count="nbNewTweets"
                              when="{'1': 'One new tweet',
                            'other': '{{nbNewTweets}} new tweets'}">
                </ng-pluralize>
            </a>
        </p>
        <ul class="nav nav-pills">
            <li ng-repeat="tweet in tweets">
                <div class="tweet-content">
                    <div class="tweet-user">
                        <a href="http://twitter.com/{{tweet.userName}}">
                            <img src="{{tweet.avatar}}" />
                            <p class="tweet-text-left">{{tweet.userName}}</p>
                        </a>
                    </div>
                    <div class="tweet-text-left tweet-text">
                        <p>{{tweet.text}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<style type="text/css">
    #tweets-list {
        text-align: center;
        padding-bottom: 10px;
    }
    #tweets-list-content {
        width: 50%;
        display: inline-block;
        margin: 0;
        padding: 0;
        /* For IE, the outcast */
        zoom:1;
        *display: inline;
    }
    p#tweets-list-show-recents {
        margin: 0;
        padding: 0.5em;
        width: 100%;
        background: #CF2144;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    #tweets-list-show-recents a {
        color: #fff;
    }
    #tweets-list-content ul li {
        float: left;
        padding: 0.5em;
        height: 70px;
        width: 100%;
        display: block;
        border-bottom: 1px solid #F06FA8;
    }
    #tweets-list-content ul li:nth-child(odd) {
        background: #F4A0C1;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .tweet-user {
        position: relative;
        left: 0;
    }
    .tweet-user img {
        position: absolute;
        left: 0;
        height: 48px;
        width: 48px;
    }
    .tweet-text-left {
        text-align: left;
        margin-left: 54px;

    }
    .tweet-text {
        margin-top: -10px;
    }
    ng-pluralize { cursor: pointer }
</style>gi